<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso obligatorio para hacer peticiones HTTP -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PacketWorld"
        tools:targetApi="31">

        <!-- LoginActivity: punto de entrada de la app -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity: pantalla principal tras login -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Edición de perfil del conductor -->
        <activity
            android:name=".EdicionConductorActivity"
            android:exported="false" />

        <!-- Lista de envíos asignados al conductor -->
        <activity
            android:name=".ListaEnviosActivity"
            android:exported="false" />

        <!-- Detalle de un envío específico -->
        <activity
            android:name=".DetalleEnvioActivity"
            android:exported="false" />

        <!-- Detalle de unidad -->
        <activity
            android:name=".UnidadActivity"
            android:exported="false" />

    </application>

</manifest>